/* colors */
.seafoam {
    background: "#8dd3c7";
}
.lemoncreme {
    background: "#ffffb3";
}
.lilac {
    background: "#bebada";
}
.tomato {
    background: "#fb8072";
}
.sailorblue {
    background: "#80b1d3";
}
.persimmon {
    background: "#fdb462";
}
.leaf {
    background: "#b3de69";
}
.blossompink {
    background: "#fccde5";
}
.dovegray {
    background: "#d9d9d9";
}
.dustyplum {
    background: "#bc80bd";
}
.greenmist {
    background: "#ccebc5";
}
.lemonpeel {
    background: "#ffed6f";
}
